#board {
    width: 608px;
    height: 608px;
    background-color: #7c4c37 ;
    display: grid;
    grid-template-columns: repeat(8, 75px);
    grid-template-rows: repeat(8, 75px);
    border: solid 15px #0c0c0c;
}


.turn  {
    display: flex;
    justify-content: center;
    align-items: center;
    
}