.square {
    display: grid;
    place-content: center;
    width: 75px;
    height: 75px;
    border-radius: 2px;
    border: solid 4px #0c0c0c;

}

.glow {
    background-color: aqua;
}

.black-square {
    background-color: #7c4c37;
}

.white-square{
    background-color: #f8d9b9;
}

.square img{
    width: 40px;
    animation: coinAnimate 1s;
}

.selected{
    background-color: #fafaa6;
}

@keyframes coinAnimate {
    0% {
        scale:0;
        opacity: 0.1;
    }
    75% {
        scale:1.03;
    }
    100% {
        scale:1;
        opacity: 1;
    }
}